
.main-container {
    height: 97vh;

    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .fax-paper {
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(5px 15px 15px #0c0c0c)
  }
  
  .logo-stamp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* or any other percentage value that works for your design */
    /* opacity: .7; */
    animation: fade 5s infinite;
  }


  
  /* animate the logo stamp to fade in and out every 3 seconds */
  @keyframes fade {
    0% {
      opacity: .1;
    }
    50% {
      opacity: .4;
    }
    100% {
      opacity: .1;
    }
  }

  
  