
.main-container {
    height: 96vh;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .fax-paper {
    width: 100%;
    height: 100%;
    -webkit-filter: drop-shadow(5px 15px 15px #0c0c0c)
  }
  
  .logo-stamp {
    position: absolute;
    /* top: 50%; */
    /* left: 50%; */
    transform: translate(-50%, -50%);
    max-width: 100%; 
    animation: fade 5s infinite ease-in-out;
  }


  
  /* animate the logo stamp to fade in and out every 3 seconds */
  @keyframes fade {
    0% {
      opacity: .6;
      -webkit-transform: rotate(-10deg);

    }
    50% {
      opacity: .9;
      -webkit-transform: rotate(10deg);
      -webkit-filter: drop-shadow(0px 25px 10px #0c0c0c)

    }
    100% {
      opacity: .6;
      -webkit-transform: rotate(-10deg);

    }
  }

  
  