
.main-container {
    height: 90vh;
    position: relative;
  }
    
  .fax-paper {
    width: 100%;
    height: 100%;
    /* shadow to mimic aper on table */
    -webkit-filter: drop-shadow(5px 15px 15px #0c0c0c)
  }
  
  .logo-stamp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%; /* or any other percentage value that works for your design */
    /* opacity: .7; */
    animation: fade 5s infinite;
  }


  .about-nav{
    position: absolute;
    top: 2rem;
    left: -8em;
    /* transform: translate(0%, 0%); */
    max-width: 100%; /* or any other percentage value that works for your design */
  }
  
  .partners-nav{
    position: absolute;
    top: 28rem;
    left: -8em;
    /* transform: translate(0%, 0%); */
    /* max-width: 100%;  */
  }

  .products-nav{
    position: absolute;
    top: 5rem;
    right: 8em;
    /* transform: translate(0%, 0%); */
    /* max-width: 100%;  */
  }

  .contact-nav{
    position: absolute;
    top: 28rem;
    right: 8em;
   }
  
  
  /* animate the logo stamp to fade in and out every 3 seconds */
  @keyframes fade {
    0% {
      opacity: .1;
    }
    50% {
      opacity: .4;
    }
    100% {
      opacity: .1;
    }
  }
  