  @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

  .nav-container {
    position: relative;
    /* set position to relative to make it the reference for the absolute positioned postit and nav-title */
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-image: url('./assets/images/tab.png'); */
  }

  .postit {
    height: 4rem;
    width: auto;
    position: absolute;
    /* set position to absolute so it can be placed on top of the nav-container */
    display: flex;
    justify-content: center;
    align-items: center;
    /* the rest of the postit styles */
    -webkit-filter: drop-shadow(1px 6px 8px #0c0c0c)
  }

  .nav-title {
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    /* font-weight: bold; */
    color: #0c0c0c;
    transform: translate(30%, 10%);
    position: absolute;
    /* set position to absolute so it can be placed on top of the nav-container */

  }

  .nav-tab {
    transition: all 0.2s ease-in-out;
    rotate: 5deg;
    z-index: 10;
  }

  .nav-tab-right {
    transition: all 0.2s ease-in-out;
    rotate: -5deg;
    z-index: 10;
  }

  .nav-tab:hover {
    transition: all 0.3s ease-in-out;
    transform: rotate(-10deg) scale(1.2) translate(0%, 50%);
  }

  .nav-tab-right:hover {
    transition: all 0.3s ease-in-out;
    transform: rotate(10deg) scale(1.2) translate(0%, 0%);
  }