@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;700&display=swap');


.contact-fax-paper {
    width: 100%;
    -webkit-filter: drop-shadow(5px 15px 25px #0c0c0c)
  
}

/* overlay about-section over current page */
.contact-page {
 
    font-family: 'Fira Mono', monospace;
    position: relative;
    display: flex;
    width: 100vh;
    /* height: auto; */
    z-index: 1;
    transform: rotate(2deg);
    max-width: fit-content;
    
}


/* overlay contact-text on contact-section */
.contact-body {
        display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 5%;
    left: 0%;
    /* transform: translate(-50%, -50%); */
    color: rgb(7, 0, 0);
    text-align: center;
    z-index: 5;
    /* font-size: 1.6vw; */
margin-top: 2rem;
}

.contact{
display: flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
   font-family: 'Fira Mono', monospace;
    font-weight: bolder;
}

.contact-info{
    /* width: 100%; */
    margin: 0rem;
}

.contact-form{
    /* width: 55rem; */
    height: 40vh;
}

    @media (max-width: 1200px) {
        .contact-info{
            width: 100%;
            /* margin: 0px; */
        }
        .contact{
            /* flex-direction: column; */
            margin: auto;
            /* padding-bottom: 150px; */

        }
        .contact-form{
            width: 100%;
        }
   

        .contact-fax-paper {
            height: 90vh;
            width: 90vw;
            
        }
        .contact-body {
            top: 0%;

            width:80%;
            height: 90%;
            /* top: 5%; */
            left: 10%;
            margin-top: 0rem;

        }
    }