/* overlay about-section over current page */
.contact-section {
    position: absolute;
    display: flex;
    /* top: 10%;
    left: 22%; */
    width: 100vh;
    height: auto;
    z-index: 1;
    /* tilt 5 degrees */
    transform: rotate(5deg);
    max-width: fit-content;
    
}

/* overlay contact-text on contact-section */
.contact-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(7, 0, 0);
    text-align: center;
    z-index: 2;
}

