/* overlay partners-section over current page */
.partners-section {
    position: absolute;
    display: flex;
    /* top: 5%;
    left: 32%; */
    width: auto;
    height: 90vh;
    z-index: 1;
    /* tilt 5 degrees */
    transform: rotate(2deg);
    /* add webkit shadow     */
    -webkit-filter: drop-shadow(1px 8px 8px #0c0c0c);
}

/* overlay partners-text on partners-section */
.partners-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(7, 0, 0);
    text-align: center;
    z-index: 2;
}

