.legal-paper  {
    height: 90vh;
    width: auto;

    -webkit-filter: drop-shadow(5px 15px 25px #0c0c0c)
  
}


/* overlay partners-section over current page */
.partners-page {
    font-family: 'Fira Mono', monospace;
    position: relative;
    display: flex;
    /* width: 100vh; */
    height: auto;
    z-index: 1;
    transform: rotate(2deg);

}

/* overlay partners-text on partners-section */
.partners-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 8%;
    left: 0%;
    color: rgb(7, 0, 0);
    text-align: center;
    z-index: 5;
    /* margin-top: 2rem; */
   
}

.partner-logo{
    width: 70%;
    opacity: .7;
    transition: .2s ease-in-out;
    z-index: 22;
   }

   .partner-logo:hover{
    /* width: 100%; */
    opacity: 1;
    scale: 1.1;
    box-shadow: 0px 5px 15px #0c0c0c;
    -webkit-transform: rotate(-2deg);
    transition: .5s ease-in-out;
    /* height: 100%; */
    z-index: 24;
   }
   
   @media only screen and (max-width: 650px) {
    .legal-paper  {
        height: 80vh;
        width: 90vw;
    
        -webkit-filter: drop-shadow(5px 15px 25px #0c0c0c)
      
    }
   }