.nav-bar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* distribute items evenly */
    align-items: center;
    /* overflow: hidden; */
    position: absolute;
    width: 20%;
    height: 60vh;
    top: 5%;
    left: -5%;
    z-index: 22;
    }


/* make navtabs horizontal and across top of screen for smaller screens */
@media only screen and (max-width: 1000px) {
    .nav-bar{
        flex-direction: row;
        width: 80%;
        height: 10vh;
        top: 0%;
        left: 2%;
        z-index: 22;
    }
}