/* overlay products-section over current page */
.products-page {
    font-family: 'Fira Mono', monospace;
    position: relative;
    display: flex;
    /* width: 100vh; */
    height: auto;
    z-index: 1;
    transform: rotate(-2deg);
    /* add webkit shadow     */
    /* -webkit-filter: drop-shadow(1px 8px 8px #0c0c0c); */
}

/* overlay products-text on products-section */
.products-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 5%;
    left: 0%;
    color: rgb(7, 0, 0);
    text-align: center;
    z-index: 5;

}

.product-image{
    width: 35%;
    opacity: .8;
    transition: .2s ease-in-out;
    z-index: 22;
    margin-right: 1rem;
}

.product-image:hover{
    /* width: 100%; */
    opacity: 1;
    scale: 1.4;
    box-shadow: 0px 5px 15px #0c0c0c;
    -webkit-transform: rotate(2deg);
    transition: .5s ease-in-out;
    /* height: 100%; */
    z-index: 24;
   }

   .product-tile{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem;
   }

