*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 text-decoration: none; 
}

a{
  text-decoration: none;
}

body{
  /* use local file as background for whole app */
  background-image: url('./assets/images/woodback3.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  /* background-repeat: repeat; */
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.page-container{
  width: 100vw;
  height: 100vh;
  display: flex;
  /* flex: 1; */
  position: absolute;
  top: 0%;
  left: 0%;
  justify-content: center;
  align-items: center;
  z-index: 1;
  /* max-width: 100%; */
}
/* 
.nav-tab{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

} */

.about-nav{
  position: absolute;
  top: 5rem;
  left: -50em;
  /* transform: translate(0%, 0%); */
  max-width: 100%; 
  z-index: 10;
}

.partners-nav{
  position: absolute;
  top: 38rem;
  left: -50em;
  max-width: 100%; 

  /* transform: translate(0%, 0%); */
  /* max-width: 100%;  */
}

.products-nav{
  position: absolute;
  top: 5rem;
  left: 36rem;
  /* transform: translate(0%, 0%); */
  /* max-width: 100%;  */
}

.contact-nav{
  position: absolute;
  top: 38rem;
  left: 36rem;
  /* max-width: 100%;  */
 }

    .page-logo-stamp {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-5deg);
  max-width: 70%; 
  opacity: .1;
}



