*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 text-decoration: none; 
}

a{
  text-decoration: none;
}

body{
  /* use local file as background for whole app */
  background-image: url('./assets/images/woodback3.jpg');
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


